/* 
    1. CSS variables
    2. Fonts
    3. Element selectors
    4. Specific elements
    5. Classes
    6. Media queries
*/

/* 1. CSS Variables */
:root {
  --gray800: #1a202c;
  --gray700: #2d3748;
  --gray600: #4a5568;

  --purple200: #d6bcfa;
  --purple300: #b794f4;
  --purple800: #44337a;

  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;

  --primary: var(--purple300);

  --fz-xxs: 12px;
  --fz-xs: 13px;
  --fz-sm: 14px;
  --fz-md: 16px;
  --fz-lg: 18px;
  --fz-xl: 20px;
  --fz-xxl: 22px;
}

/* 2. Fonts */

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

/* 3. Element selectors */
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  background-color: var(--gray800);
  color: var(--slate);
  font-size: var(--fz-lg);
  line-height: 1.3;
}

main {
  padding: 0 150px;
  min-height: 100vh;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

body > section {
  margin: 0px auto;
  max-width: 1000px;
}

header {
  width: 100%;
  z-index: 10;
  background-color: #1a202cc0;
}

header > nav {
  margin: 0 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

header section nav {
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2rem;
}

nav a {
  color: var(--primary);
  font-size: var(--fz-xxl);
}

/* 4. Specific elements */

#hero {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

#hero p {
  max-width: 500px;
}

#about {
  min-height: 40vh;
}

#crazyNav {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: 80px;
  transition: opacity 0.4s ease;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a202cc0;
}

nav #logo {
  font-size: 2rem;
}

#sus {
  background-color: red;
  height: 100px;
  width: 100px;
  border-radius: 100%;
}

#sus::after {
  content: "";
  background-color: white;
  width: 20px;
  height: 10px;
  position: absolute;
  top: 40px;
  right: 0;
  bottom: 40px;
  left: 0;
  z-index: 10;
}

#body {
  background-color: red;
  height: 100px;
  width: 100px;
  margin-top: -50px;
}

:root {
  --base-color: #8a071d;
  --lighter-base-color: #d9041a;
  --face-color: #73989e;
  --lighter-face-color: #cae8ed;
  --border-color: #000000;
}

.body {
  position: relative;
  margin: 100px 150px;
  width: 155px;
  height: 230px;
  background-color: var(--base-color);

  border: 12px solid var(--border-color);
  border-radius: 70px 85px 70px 70px;
}

.body-light-part {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;

  width: 95%;
  height: 90%;
  background-color: var(--lighter-base-color);
  transform: rotate(-2deg);
  border-radius: 40% 50% 36% 30%;
}

.face {
  position: absolute;
  right: -20px;
  top: 25px;
  z-index: 2;

  background-color: var(--face-color);
  width: 130px;
  height: 90px;
  transform: rotate(-4deg);

  border: 12px solid var(--border-color);
  border-radius: 70px 90px 110px 110px;
}

.face-light-part {
  position: relative;
  width: 94px;
  height: 50px;
  margin: 0px 12px;
  background-color: var(--lighter-face-color);
  border-radius: 30% 40% 55% 50%;
  display: inline-block;
}

.shimmer {
  position: relative;
  margin: 4px 25px;
  width: 50px;
  height: 20px;
  background-color: white;
  border-radius: 40% 50% 50% 40%;
}

.backpack {
  position: absolute;
  left: 0;
  top: 65px;
  width: 50px;
  height: 150px;
  transform: translate(-100%);

  background-color: var(--base-color);
  border: 12px solid var(--border-color);
  border-radius: 40% 0 0 50%;
}

.backpack-light-part {
  margin-left: 2px;
  height: 25px;
  width: calc(100% - 2px);

  background-color: var(--lighter-base-color);

  border-radius: 50% 0 0 20%;
}

.leg-left-under {
  position: absolute;
  bottom: 0;
  left: -12px;

  width: 70px;
  height: 60px;

  background-color: var(--base-color);
  border-left: 12px solid var(--border-color);
}

.leg-left {
  position: absolute;
  bottom: 0;
  left: -12px;

  width: 65px;
  height: 55px;
  transform: translateY(55px);

  background-color: var(--base-color);
  border: 12px solid var(--border-color);
  border-top: none;
  border-radius: 0 0 40% 60%;
}

.leg-right-under {
  position: absolute;
  bottom: -4px;
  left: 70px;

  width: 65px;
  height: 32px;

  background-color: var(--base-color);
  border-right: 12px solid var(--border-color);
}

.leg-right {
  position: absolute;
  bottom: -50px;
  left: 70px;

  width: 65px;
  height: 50px;

  background-color: var(--base-color);
  border: 12px solid var(--border-color);
  border-top: none;
  border-radius: 0 0 40% 60%;
}

/* 5. Classes */

.bigger-heading {
  margin: 0;
  font-size: clamp(30px, 6vw, 70px);
  font-weight: bolder;
}

.big-heading {
  margin: 0;
  font-size: clamp(20px, 6vw, 50px);
  font-weight: bolder;
}

.brightest-slate {
  color: var(--lightest-slate);
}

.bright-slate {
  color: var(--light-slate);
}

.contact-button {
  border-radius: 4px;
  margin-top: 3rem;
  padding: 1rem 2rem;
  border-style: solid;
  border-color: var(--primary);
  font-size: var(--fz-md);
  border-width: 1px;
}

.nav-links {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin: 0;
  padding: 0;
}

.nav-links li {
  list-style: none;
}

.nav-links li a {
  padding: 1rem;
  color: var(--primary);
  text-decoration: none;
}

.header-top {
  position: absolute;
}

.header-show {
  position: fixed;
  top: 0;
}

.section-header {
  color: var(--purple300);
  font-size: var(--fz-lg);
  text-align: center;
}

.link {
  color: var(--primary);
  cursor: pointer;
  text-decoration: none;
  transition: color 0.2s ease;
}

.link:hover {
  color: var(--purple200);
}

.button {
  color: var(--primary);
  cursor: pointer;
  text-decoration: none;
  transition: color 0.2s ease, background 0.2s ease;
}

.button:hover {
  color: var(--purple200);
  background-color: #b794f41f;
}

.hero-decoration {
  position: relative;
}

.hero-decoration::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10%;
  height: 30%;
  z-index: -1;
  background-color: var(--purple800);
}

.block-scroll {
  overflow: hidden;
}

.scroll-margin {
  margin-right: 10px;
}

/* menu icon */

.animated-icon {
  position: relative;
  width: 38px;
  height: 38px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: inline-block;
}
.animated-icon .ani {
  top: 18.5px;
  left: 5px;
}
.animated-icon .ani,
.animated-icon .ani:before,
.animated-icon .ani:after {
  content: "";
  position: absolute;
  height: 3px;
  width: 28px;
  background: var(--purple300);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.animated-icon .ani:before,
.animated-icon .ani:after {
  background: inherit;
}

.animated-icon.menu-cross .ani:before {
  top: -8px;
  right: 0;
}
.animated-icon.menu-cross .ani:after {
  top: 8px;
  right: 0;
}
.animated-icon.menu-cross.open .ani {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.animated-icon.menu-cross.open .ani:before {
  top: 0;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.animated-icon.menu-cross.open .ani:after {
  top: 0;
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

/* end menu icon */

/* 6. Media queries */
@media (max-width: 1080px) {
  main {
    padding: 0 100px;
  }
}

@media (max-width: 768px) {
  main {
    padding: 0 50px;
  }
}

@media (max-width: 480px) {
  main {
    padding: 0 25px;
  }
}
